body {
    background-color: black;
}

.card-text>i {
    color: black
}

.searchBar {
    background-color: #303030;
    color: white;
}

.content {
    background-color: black;
}

.starsYellow {
    color: yellow;
}

.stars-full {
    display: inline-block;
}

.logo {
    height: 50px;
}

.img-loader {
    position: absolute;
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.img-loader img {
    width: 50%;
    height: 50%;
    align-self: center;
    animation: fade 1s;
}

.display {
    display: none;
    z-index: 0;
}

.flags {
    height: 30px;
}

.mycard {
    opacity: 0;
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    height: 100%;
    width: 100%;
    color: white;
    transition: 0.5s ease;
}

.my-card {
    position: relative;
}

.my-img {
    opacity: 1;
    transition: 0.5s ease;
}

.my-card:hover .mycard {
    display: block;
    opacity: 1;
}

.my-card:hover .my-img {
    opacity: 0.5;
}